:root {
  --rem-size: 16px;
  /* Other root-level variables */
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

#root {
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

span {
  display: inline-block;
}

*,
*::before,
*::after {
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

html {
  font-size: var(--rem-size);
}
